$primary-bondi-blue: #009FB7;
$primary-orange-yellow: #FED766;
$primary-raisin-black: #272727;
$primary-anti-flash-white: #EFF1F3;
$primary-dim-gray: #696773;

$secondary-midnight-green: #084C61;
$secondary-cadet-blue: #56A3A6;
$secondary-jelly-bean-red: #DB504A;

$accent-dark-gray: #555;
$accent-light-gray: #ccc;
$accent-very-light-gray: #e4e4e4;

$blue-gradient: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
$black-gradient: linear-gradient(to right, #434343 0%, black 100%);
$gray-gradient: linear-gradient(to right, #868f96 0%, #596164 100%);

$sm-box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
$md-box-shadow: 0px 8px 15px rgba(0,0,0,0.25);
$lg-box-shadow: 0px 16px 30px rgba(0,0,0,0.25);

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;