<section id="login">
  <div class="container">
    <form [formGroup]="rForm" (ngSubmit)="queryUser(rForm.value)">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>  
  </div>
</section>

